.smoke-container {
  position: fixed;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.smoke {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.smoke span {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 120px;
  background: #fff; /* Set the smoke color to white */
  border-radius: 50%;
  margin: 0 5px;
  bottom: 0;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * 0.5s);
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-50vh) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-100vh) scaleX(10);
  }
}
