.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.btn{
  border: 2px solid #000;
  margin-top: 50px;
}
.circle {
  width: 50vmin; 
  height: 50vmin;
  border: 2px solid #fff; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; 
  color: #fff; 
  text-align: center;
}

.text {
  margin-bottom: 10px; 
}
